img {
    width: 50%;
    border-style: double;
    border-width: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1,
h2,
h3 {
    text-align: center;
}
h3 {
    font-size: 15px;
    font-family: "Times New Roman", Times, serif;
}
.bold {
    font-weight: bold;
}
footer {
    margin-top: 50px;
}
body {
    background-color: #fcbf49;
}
